::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;

    padding: 8px 2px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

:root {
    --text-color: #734B5E;
    --bright-color: #64A6BD;
    --mild-color: #ADA7C9;
    --mild-color2: #6f66b2;
    --primary-color: #D7B9D5;
    --secondary-color: #F4CAE0;
}
body {
    color: var(--text-color);
}